<md-whiteframe class="md-whiteframe-z2 card">
   <div class="image-frame">
      <img class="project-image" ng-if="project.formal.image.url" ng-src="{{ project.formal.image.url | fpConvert: {w:500, rotate:'exif'} }}" alt="{{ project.formal.actionName }}"/>
   </div>

   <div class="card-header">
      <h3 ng-if="project.formal.actionName">{{ project.formal.actionName }}</h3>
      <div ng-if="project.formal.date" class="date">
         am {{ project.formal.date }} |
         <ng-md-icon icon="people" style="fill: #455a64" size="19"></ng-md-icon>{{ project.potential.f1 }}
      </div>
   </div>

   <div ng-if="project.formal.description" class="description">
      {{ project.formal.description }}
   </div>
   <div class="details">
      <b>Gruppe: </b>{{ project.formal.group }}<br />
      <b>Träger: </b>{{ project.formal.carrier }}<br />
      <b>Aktionsart: </b>{{ project.formal.event }}
   </div>
</md-whiteframe>
