<section class="participate edu">
   <div layout="row" layout-align="start center" layout-sm="column">
      <div flex-gt-md="33" flex-offset-gt-md="33" class="info-cards">
         <h2>Admin-Login</h2>
         <md-whiteframe class="md-whiteframe-z2 card action-card">
            <form class="login-form">
               <md-input-container>
                  <label>Login</label>
                  <input type="text" ng-model="login" ng-required="true">
               </md-input-container>
               <md-input-container>
                  <label>Passwort</label>
                  <input type="password" ng-model="password" ng-required="true">
               </md-input-container>
               <center>
                  <md-button class="md-raised md-primary">Login</md-button>
               </center>
            </form>
         </md-whiteframe>
      </div>
   </div>
</section>
