<section class="space-box box-green" ng-controller="challengeCtrl">
   <div layout="row" layout-align="start center" layout-wrap>
      <div flex-sm="100" flex-gt-sm="50" flex-offset-gt-md="5">
         <img ng-src="/img/aktionstage/klima-aktionstage.png" alt="Klima-Aktionstage" class="headline-image" /><br />
         Was können Jugendverbände und -initiativen in Niedersachsen gemeinsam in 96 Stunden fürs Klima "wuppen"? Das wollten wir bei den landesweiten Klima-Aktionstagen wissen. Die Aktionstage waren ein voller Erfolg: das breite Spektrum der teilnehmenden Verbände zeigt, dass sich junge Menschen engagiert für gesellschaftlichen Themen wie den Klimaschutz einsetzen! 
         So setzte beispielsweise die evangelische Jugend alles daran, ihr Landesjugendcamp in Verden mit über 2.000 Teilnehmenden klimafreundlich zu gestalten, u.a. mit Erdkühlschränken, Stromfahrrädern und Komposttoiletten. Zudem engagierten sich beispielsweise die DGB-Jugend Bothfeld mit einer Geocaching-Tour zum Thema Klima, die Teilnehmenden eines Seminars des Bundes der Pfadfinderinnen und Pfadfinder Niedersachsen in Braunschweig beschäftigten sich mit dem Klimawandel und ernährten sich vegan und eine Gruppe der Sportjugend Stade führte eine Müllsammel-Aktion durch. Auch die BUND Jugend Niedersachsen war mit einer „Tauschen und Teilen-Ecke“ beim lunatic Festival in Lüneburg dabei.
         <p>
            Ein Höhepunkt war die erste <a href="/scp">Silent Climate Parade</a> in Hannover, auf der wir mit Kopfhörern tanzend durch die Stadt gezogen sind, um die Menschen zu erinnern, dass der Klimawandel leise vonstatten geht, aber ständig voranschreitet. Gleichzeitig haben wir einen konsequenten Klimaschutz gefordert.
         </p>
         <p>
            UND DIE KRÖNUNG: Mit den Klima-Aktionstagen haben wir die nächste Punktemarke von <b>200.000 Klimapunkten</b> erreicht! Das bedeutet: Der zweite <b>Ministereinsatz</b> steht vor der Tür (voraussichtlich Ende September): Eine "SCHNIPPELDISKO", bei welcher der niedersächsische Umweltminister Stefan Wenzel gemeinsam mit uns ein (fröhliches) Zeichen gegen Lebensmittelverschwendung setzen wird!
         <p> Warum? Etwa 40% der Ernte in Deutschland werden vernichtet, weil die natürlich gewachsenen Produkte zu krumm, zu groß oder zu knubbelig sind - obwohl sie genauso lecker schmecken würden!
         Genau solche Lebensmittel wollen wir mit dem Minister "retten" und bei Musik und guter Laune gemeinsam in einer "Schnippeldisko" verkochen. Mehr Infos folgen!
         </p>
      </div>
      <div flex-sm="100" flex-md="50" flex-gt-md="35" flex-offset-gt-md="5">
         <md-whiteframe class="md-whiteframe-z2 card small-frame rotate-right">
            <img class="card-image" ng-src="/img/aktionstage/solarpumpe.jpg" alt="Klima-Aktionstage" />
            <div class="image-caption">
               Klima-Aktionstage vom <b>2.–5. Juni 2016</b>
            </div>
         </md-whiteframe>
      </div>
   </div>
</section>
