<section class="space-box all-projects">
   <div layout="row" layout-sm="column">
      <div flex flex-offset-gt-sm="5" flex-gt-sm="90">
         <h2>Alle Aktionen</h2>
         <div class="sub-heading">
            Viele Jugendverbände haben bereits Projekte für den Klimaschutz eingereicht. Lass dich inspirieren... :)
         </div>

         <div layout="row" hide show-gt-lg>
            <div flex ng-repeat="nth in [0,1,2,3]">
               <action action-data="project" ng-repeat="project in projects | filter:{ public: true } | reverse | nthFilter:4:nth"></action>
            </div>
         </div>
         <div layout="row" hide show-lg>
            <div flex ng-repeat="nth in [0,1,2]">
               <action action-data="project" ng-repeat="project in projects | filter:{ public: true } | reverse | nthFilter:3:nth"></action>
            </div>
         </div>
         <div layout="row" hide show-md>
            <div flex ng-repeat="nth in [0,1]">
               <action action-data="project" ng-repeat="project in projects | filter:{ public: true } | reverse | nthFilter:2:nth"></action>
            </div>
         </div>
         <div layout="row" hide show-sm>
            <div flex>
               <action action-data="project" ng-repeat="project in projects | filter:{ public: true } | reverse"></action>
            </div>
         </div>
      </div>
   </div>
</section>
