<div layout="row" layout-wrap class="info-box" layout-sm="column">
   <div flex flex-gt-sm="50" flex-gt-md="50" offset-gt-md="5" class="info-cards">
      <md-content layout-margin layout-padding layout-wrap layout="row" layout-sm="column">
         <md-whiteframe flex class="md-whiteframe-z2 action-card">
            <h2>Die Klima-Challenge</h2>
            <p>
               Bei der Klima-Challenge reichen Jugendverbände Projekte für den Klimaschutz ein. Ihr könnt bei uns Material leihen, Schulungen bekommen, Ideen finden und für alles Punkte sammeln!
            </p>
            <div class="md-actions" layout="row" layout-align="end center">
               <md-button class="md-primary" ng-href="#ideen"><ng-md-icon style="fill: #8bc34a" icon="assessment"></ng-md-icon> Zur Statistik</md-button>
            </div>
         </md-whiteframe>
      </md-content>
      <md-content layout-margin layout-padding layout="row" layout-sm="column">
         <md-whiteframe flex class="md-whiteframe-z2 action-card">
            <h2>Inspirieren lassen</h2>
            <p>
               Viele Jugendverbände haben bereits Projekte für den Klimaschutz eingereicht.
               Klick dich durch die Ideen!
            </p>
            <div class="md-actions" layout="row" layout-align="end center">
               <md-button class="md-primary" ng-href="#ideen"><ng-md-icon style="fill: #8bc34a" icon="star"></ng-md-icon> Zu den Ideen</md-button>
            </div>
         </md-whiteframe>
      </md-content>
   </div>
   <div class="news-box space-box" layout-align="start end" layout="row" class="space-box news-caption" flex>

      <div flex class="news-wrapper">
         <h2>News</h2>
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
   </div>
</div>
<div class="space-box add-project">
   <div layout="row" layout-align="start center" layout-sm="column" layout-padding>
      <div flex-gt-sm="70" offset-gt-md="5">
         <h2>Aktiv werden</h2>
         Du bist selbst in einem Jugendverband aktiv?
         Dann reicht euer Projekt ein!
      </div>
      <div flex>
         <md-button class="md-raised md-primary">
            <ng-md-icon style="fill: white" icon="add"></ng-md-icon> Projekt einreichen
         </md-button>
      </div>
   </div>
</div>
