<section layout-gt-md="row" layout-wrap class="info-box" layout="column">
   <div flex flex-gt-md="50" offset-gt-md="5" class="info-cards">

      <div class="general-info">
         Kannst du dir vorstellen, dass Klimaschutz Spaß macht? Bei der Klima-Challenge kannst du dich davon selbst überzeugen!
      </div>

      <md-whiteframe flex class="md-whiteframe-z2 card">
         <h2>Die Challenge</h2>
         <p>
            Die Klima-Challenge unterstützt euch Jugendliche in Niedersachsen dabei, den Klimaschutz selbst in die Hand zu nehmen. Die Idee des Projektes ist, dass ihr gemeinsame Klimaschutz-Aktionen durchführt und dabei Klimapunkte sammelt. Mit diesen messbaren Erfolgen wird der niedersächsische Umweltminister herausgefordert, denn wenn ihr eine bestimmte Punktzahl erreicht habt, muss er eine vereinbarte Gegenleistung erbringen. Dies ist in einem Vertrag festgehalten.
         </p>
         <div class="md-actions" layout="row" layout-align="end center">
            <md-button class="md-primary" ng-href="#contract"><ng-md-icon style="fill: #8bc34a" icon="rate_review"></ng-md-icon> Zum CO<sub>2</sub>ntrACT!</md-button>
         </div>
      </md-whiteframe>
   </div>
   <div class="news-box space-box" layout-align="start end" layout="row" class="space-box news-caption" flex ng-style="{'background-image':'url(' + newsImageUrl + ')'}">
      <div flex class="news-wrapper">
         <h2>News</h2>
         {{newsCaption}}
      </div>
   </div>
</section>

<!--
<section layout-gt-md="row" class="challenge-actions" layout="column">
   <div flex flex-gt-md="90" offset-gt-md="5" class="info-cards">
      <div layout-wrap layout="row" layout-sm="column">
         <div flex flex-md="50" flex-gt-md="33">
            <md-whiteframe class="md-whiteframe-z2 card action-card">
               <div class="category-icon">
                  <ng-md-icon style="fill: #8bc34a" size="90" icon="content_paste"></ng-md-icon>
               </div>
               <h2>Bildungsmodule buchen</h2>
            </md-whiteframe>
         </div>
         <div flex flex-md="50" flex-gt-md="33">
            <md-whiteframe class="md-whiteframe-z2 card action-card">
               <div class="category-icon">
                  <ng-md-icon style="fill: #8bc34a" size="90" icon="settings_applications"></ng-md-icon>
               </div>
               <h2>Geräte ausleihen</h2>
            </md-whiteframe>
         </div>
         <div flex flex-md="50" flex-gt-md="33">
            <md-whiteframe class="md-whiteframe-z2 card action-card">
               <div class="category-icon">
                  <ng-md-icon style="fill: #8bc34a" size="90" icon="supervisor_account"></ng-md-icon>
               </div>
               <h2>Gemeinschaftsaktionen</h2>
            </md-whiteframe>
         </div>
         <div flex flex-md="50" flex-gt-md="33">
            <md-whiteframe class="md-whiteframe-z2 card action-card">
               <div class="category-icon">
                  <ng-md-icon style="fill: #8bc34a" size="90" icon="person"></ng-md-icon>
               </div>
               <h2>Alltagsexperimente</h2>
            </md-whiteframe>
         </div>
         <div flex flex-md="50" flex-gt-md="33">
            <md-whiteframe class="md-whiteframe-z2 card action-card">
               <div class="category-icon">
                  <ng-md-icon style="fill: #8bc34a" size="90" icon="home"></ng-md-icon>
               </div>
               <h2>Verbandliche Investitionen</h2>
            </md-whiteframe>
         </div>
         <div flex flex-md="50" flex-gt-md="33">
            <md-whiteframe flex-md="45" flex="30" class="md-whiteframe-z2 card action-card">
               <div class="category-icon">
                  <ng-md-icon style="fill: #8bc34a" size="90" icon="help"></ng-md-icon>
               </div>
               <h2>Sonstiges</h2>
            </md-whiteframe>
         </div>
      </div>
      <md-button ng-href="#mitmachen">Alle Aktionen <ng-md-icon style="fill: #8bc34a" size="30" icon="chevron_right"></ng-md-icon></md-button>
   </div>
</section>
-->

<section class="space-box add-project">
   <div layout="column" layout-gt-md="row">
      <div flex offset-gt-md="5">
         <h2>Mitmachen</h2>
         Du bist selbst in einem Jugendverband aktiv?
         Dann reicht euer Projekt ein!
      </div>
      <md-whiteframe flex class="md-whiteframe-z2 card" flex flex-gt-md="60">
         <h2>Projekt einreichen</h2>
         <p>
            Die Jugendverbände in Niedersachsen haben bereits <b><span count-to="0" value="0" duration="2">0</span> Klimapunkte</b> in <b><span count-to="0" value="0" duration="2">0</span> Projekten</b> erreicht. Gemeinsam schaffen wir <b>15.000</b>!
         </p>
         <div class="md-actions" layout="row" layout-align="end center">
            <md-button ng-href="#"><ng-md-icon style="fill: #02bcd4" icon="add"></ng-md-icon> Projekt einreichen</md-button>
         </div>
         <div class="counter-bar">
            <div class="counter-background">
               <div class="counter-filled" style="width: 0%;">
                  <div class="counter-background counter-inner">
                     0 Klimapunkte
                  </div>
               </div>
            </div>
         </div>
      </md-whiteframe>
   </div>
</section>
