<md-whiteframe class="md-whiteframe-z2">
   <div ng-style="jumbotron != '' && {'background-image':'url('+jumbotron.images[0].source+')'}" class="jumbotron">

   </div>
   <section layout="row" layout-sm="column" layout-align="center center" class="button-row">
      <md-button class="md-fab info-button">
         <md-tooltip>
            Die Umwelt schützen
        </md-tooltip>
         <ng-md-icon size="40" icon="nature_people" style="fill: white"></ng-md-icon>
      </md-button>
      <md-button class="md-fab info-button">
         <md-tooltip>
            Projekt-Ideen
        </md-tooltip>
         <ng-md-icon size="40" icon="wb_incandescent" style="fill: white"></ng-md-icon>
      </md-button>
      <md-button class="md-fab info-button">
         <md-tooltip>
            Mehr Öffis nutzen
        </md-tooltip>
         <ng-md-icon size="40" icon="directions_bus" style="fill: white"></ng-md-icon>
      </md-button>
   </section>
   <md-toolbar layout-align="center center">
      <span class="points">20.100</span>
      <span class="desciption">Klimapunkte</span>
      <div layout-align="right">
         <md-button class="add-project md-fab">
            <md-tooltip>
               Projekt einreichen
           </md-tooltip>
            <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
         </md-button>
      </div>
   </md-toolbar>
   <div id="physics-world">
   </div>
</md-whiteframe>
