<section class="space-box box-blue" ng-controller="challengeCtrl">
   <div layout="row" layout-align="center center" layout-wrap>
      <div flex-sm="100" flex-md="95" flex-gt-md="50">
         <h2>Tanz mal drüber nach! </h2>
         <p>
            Der Klimawandel ist leise, aber er passiert. Genau in diesem Moment.
            Und er bedroht unsere Zukunft.
            Die auf der Pariser Klimakonferenz beschlossenen Maßnahmen reichen nicht aus, um die Erderwärmung auf das angestrebte Zwei-Grad-Ziel zu begrenzen.
         </p>
         <p>
            Die Silent Climate Parade ist eine klimafreundliche, bunte Parade durch die Stadt mit einer Silent Disco.
            Zieh mit uns am <b>Samstag, den 04. Juni 2016</b> tanzend durch die Straßen Hannovers, um auf den Klimawandel und dessen Folgen aufmerksam zu machen und einen konsequenten Klimaschutz einzufordern.
         </p>
         <p>
            Gemeinsam mit dir wollen wir Open Air zu Musik aus Funkkopfhörern tanzen, welche die bekannten Hannoveraner DJs Zentrifuge und Kombüsen Toni live auflegen. Denn: Klimaschutz kann auch Spaß machen!
            Von außen scheinbar leise werden wir mit Schildern, Flyern und Choreographien für Aufmerksamkeit sorgen.
            So weisen wir symbolisch auf das im Alltag kaum wahrgenommene, jedoch allgegenwärtige Problem des Klimawandels hin.
         </p>
         <p>
            Die Veranstaltung startet am 4. Juni 2016 um 13 Uhr am Georgsplatz. Dort werden die Kopfhörer gegen einen Lichtbildausweis als Pfand verteilt.
            Am Ende der Route gibt es am Küchengarten zum Abschluss einen spannenden Mix aus Beatbox und Didgeridoo von Aerodice &amp; Babeli auf O.B.S.T. 2017 und vegane Verpflegung von klugbeisser.
         </p>
         <p>
            Die Silent Climate Parade ist bereits ein bekanntes Event in Berlin sowie Mainz und soll nun auch erstmalig in Hannover stattfinden. Wir freuen uns auf ein tanzfreudiges Event mit euch!
         </p>
      </div>
      <div flex-sm="100" flex-md="50" flex-lg="40" flex-gt-lg="35" flex-offset-gt-md="5">
         <img class="full-width" src="/img/aktionstage/scp-logo.png" alt="Silent Climate Parade" />
      </div>
   </div>
</section>
<section class="space-box box-green" style="padding-bottom: 0; padding-top: 0" ng-controller="challengeCtrl">
   <div layout="row" layout-align="center center" layout-sm="column" layout-md="column">

      <div hide-sm hide-md flex flex-gt-md="50">
         <img class="full-width" style="margin-bottom: -4px" src="/img/aktionstage/bubbles.png" alt="Luftblasen" />
      </div>

      <div flex flex-gt-md="45">
         <md-whiteframe class="md-whiteframe-z2 card">
            <md-button style="float: right" href="https://www.facebook.com/events/1674640799476257/" target="_blank">
               <ng-md-icon style="fill: #0288d1" icon="facebook"></ng-md-icon>
            </md-button>
            <h2>Silent Climate Parade Hannover</h2>
            <table class="info-table">
               <tr>
                  <td>
                     <b>Wann:</b>
                  </td>
                  <td>
                     04. Juni 2016 um 13 Uhr
                  </td>
               </tr>
               <tr>
                  <td>
                     <b>Ort:</b>
                  </td>
                  <td>
                     Hannover, Georgsplatz
                  </td>
               </tr>
               <tr>
                  <td>
                     <b>Organisation:</b>
                  </td>
                  <td>
                     Ihr könnt euch vor Ort Kopfhörer kostenlos ausleihen, gegen einen Lichtbildausweis von euch als Pfand.
                  </td>
               </tr>
               <tr>
                  <td>
                     <b>Kosten:</b>
                  </td>
                  <td>
                     Die Veranstaltung ist kostenfrei! Wir freuen uns jedoch über kleine Spenden.
                  </td>
               </tr>
               <tr>
                  <td>
                     <b>Veranstalter*innen:</b>
                  </td>
                  <td>
                     Klima-Challenge, JANUN e.V.
               </tr>
               <tr>
                  <td>
                     <b>Unterstützer*innen:</b>
                  </td>
                  <td>
                     <a href="http://www.velogold.de/" target="_blank"><img style="float: right" src="/img/aktionstage/velogold.png" alt="Velogold Logo" /></a>
                     Grüne Jugend Niedersachsen, <a href="http://www.velogold.de/" target="_blank">VELOGOLD</a>: ein besonderer Dank für die Bereitstellung der zwei fantastischen <i>Musketier</i>-Lastenräder für unserer DJs!!
                  </td>

               </tr>
            </table>
            <br />
            <b>Du willst das Orgateam unterstützen?</b> <br />
            Für die Vorbereitung und auch vor Ort brauchen wir viele Helfer*innen. Ob Schilder malen, Kopfhörer ausgeben oder Ordner*innen. Sei dabei! <br />
            Melde dich bei Christine: <a href="mailto: scp@janun.de">scp@janun.de</a>
         </md-whiteframe>
      </div>
   </div>
</section>
