<section layout-wrap class="contract" layout="row">
   <div flex-sm="100" flex-md="90" flex-gt-md="80" offset-md="5" offset-gt-md="10">
      <md-whiteframe flex class="md-whiteframe-z2 card">
         <h1>DER KLIMA-CO<sub>2</sub>ntrACT!</h1>
         <h2>Ein Vertrag für die Zukunft</h2>
         <p>
            Der Klimaschutz ist eine der größten Herausforderungen unserer Zeit. Dabei geht es um nicht weniger als unsere Zukunft! Von der Politik ist entschlossenes Handeln gefordert! Das Projekt „Klima-Challenge“ sendet hier ein deutliches Signal an den Pariser Klimagipfel:<br>
            <b>Es geht ums Handeln!</b>
         </p>
         <p>
            Wir – die <b>Jugendverbände in Niedersachsen</b> – wollen zeigen, dass wirksame Maßnahmen zur Begrenzung des globalen Temperaturanstiegs lokal und auch schon mit kleinen Aktionen möglich sind – und wir es gemeinsam schaffen können, etwas zu bewegen! Indem wir mit guten Ideen und hohem Einsatz vorangehen, fordern wir die Politik und insbesondere den niedersächsischen <b>Umweltminister Stefan Wenzel</b> heraus:<br>
            Durch Aktionen, Seminare und Veranstaltungen engagieren wir uns für die Abschwächung des weltweiten Klimawandels. Unser Einsatz wird in „Klimapunkten“ gemessen. Die Punkte repräsentieren dabei die Menge an klimaschädlichen Treibhausgasen (gemessen in CO<sub>2</sub>-Äquivalenten) wir durch unser Handeln eingespart haben.<br>
           
         </p>
         <p>
            Das Ganze funktioniert so:<br>
            Immer, wenn viele von uns aktiv geworden sind und damit einen messbaren Beitrag zur Verhinderung weiterer Klimaveränderungen geleistet haben, bringt das Klimapunkte! Diese werden online in einem gemeinsamen Punktekonto erfasst. Die Herausforderung: Wenn wir mit den von uns erbrachten Klimapunkten die Etappenziele erreicht haben, muss der Umweltminister eine zuvor vereinbarte Leistung erbringen.
             </p>
         <p>Je mehr Klimapunkte wir gesammelt haben, desto spektakulärer wird auch die Gegenleistung! Mit jedem erreichten Etappenziel werden ein neues Einspar-Ziel – gemessen in Klimapunkten – und der dazugehörige Einsatz des Umweltministers vereinbart. Das erste Ziel und der dazugehörige Einsatz sind immer aktuell hier auf der Website zu finden.
             </p>
         <p>Mit diesen Aktionen verpflichtet sich der niedersächsische Minister für Umwelt, Energie und Klimaschutz, Stefan Wenzel, uns – der jungen Generation – gegenüber dazu, sich auch in Zukunft mit großem Engagement für den Klimaschutz einzusetzen.
            </p>
      </md-whiteframe>
   </div>
</section>
