<section layout-wrap class="contract" layout="row">
   <div flex-sm="100" flex-md="90" flex-gt-md="80" offset-md="5" offset-gt-md="10">
      <md-whiteframe flex class="md-whiteframe-z2 card">
         <h1>DER KLIMA-CO<sub>2</sub>ntrACT!</h1>
         <h2>Ein Vertrag für die Zukunft</h2>
         <p>
            Klimaschutz ist die große Herausforderung unserer Zeit. Dabei geht es um nicht weniger als unsere Zukunft! Von der Politik vermissen wir bisher entschlossenes Handeln. Damit sich das ändert, senden wir ein deutliches Signal an den Pariser Klimagipfel:<br>
            <b>Nicht nur reden - machen!</b>
         </p>
         <p>
            Wir, die <b>Jugendverbände in Niedersachsen</b>, wollen zeigen, dass Klimaschutz gar nicht so schwer ist und wir es gemeinsam schaffen können, etwas zu bewegen. Indem wir mit gutem Beispiel vorangehen, fordern wir die Politik und insbesondere den niedersächsischen <b>Umweltminister Stefan Wenzel</b> heraus:<br>
            Durch Aktionen, Seminare und Veranstaltungen engagieren wir uns für den Klimaschutz. Unser Einsatz wird in Klimapunkten gemessen. Die Punkte stehen dafür, wie viele klimaschädliche Treibhausgase (gemessen in CO<sub>2</sub>-Äquivalenten) wir eingespart haben.<br>
            Immer, wenn viele von uns aktiv geworden sind und damit einen signifikanten Beitrag zum Klimaschutz geleistet haben, erbringt der Minister eine vereinbarte Gegenleistung, zu der er sich vorher verpflichtet hat.<br>
         </p>
         <p>
            Das funktioniert so:<br>
            Wir setzen uns ein Punkte-Ziel und wenn wir es erreicht haben, muss der Minister seinen Einsatz erfüllen. Je mehr Klimapunkte wir gesammelt haben, desto größer und spektakulärer wird auch die Gegenleistung, die der Minister erbringt. Mit jedem erreichten Etappenziel wird ein neues Einspar-Ziel und der dazugehörige Einsatz des Umweltministers festgelegt und öffentlich verkündet.<br>
            Mit diesen symbolischen Handlungen verpflichtet sich das niedersächsische Umweltministerium uns – der jungen Generation – gegenüber dazu, sich in Zukunft ebenfalls mit großem Engagement für den Klimaschutz einzusetzen.
         </p>
      </md-whiteframe>
   </div>
</section>
