<section layout-wrap class="contract" layout="row">
   <div flex-sm="100" flex-md="90" flex-gt-md="80" flex-offset-md="5" flex-offset-gt-md="10">
      <md-whiteframe flex class="md-whiteframe-z2 card">

         <img src="/img/klimafasten/logo.jpg" alt="Klimafasten 2017"/>

         <p>
               Du hast manchmal das Gefühl, dass weniger mehr wäre? Du willst mehr für Nachhaltigkeit tun und fragst dich, wo du ansetzen sollst? Wenn ein gewählter Präsident verkündet, dass der Klimawandel nur eine Erfindung der Chinesen sei, stehen dir die Haare zu Berge? Dann schließe dich uns an – jetzt erst recht. Egal ob Langzeit-Veganer*in oder Klima-Noob, der Wandel beginnt bei dir zu Hause.
         </p>

         <h3>Das erwartet dich</h3>
         Diese Fastenzeit (1. März bis zum 15. April) steht ganz im Zeichen des Klimaschutzes. Neben einem Fastenziel, dass du dir persönlich steckst (siehe unten) erkunden wir gemeinsam die Ursachen und Auswirkungen des Klimawandels und vor allem, was wir konkret dagegen tun können. Egal ob du mit deiner Jugendgruppe fastest, deiner Familie, oder nur für dich – gemeinsam schaffen wir mehr.

        <h3>So kannst du mitmachen</h3>
			Du wählst aus den folgenden deinen Lieblingskanal und erhälst hierüber regelmäßig Tipps, Infos und Anregungen, wie du durch dein Fasten das Klima schützen kannst und wirst außerdem von uns motiviert, am Ball zu bleiben und Neues zu wagen.
			<ol>
				<li>
					Whatsapp oder Telegram: Speichere unsere Nummer ab (+49 1772730898) und schicke uns eine Nachricht mit deinem Namen, dann nehmen wir dich gerne in unsere Telegram- oder Whatsapp-Broadcast-Gruppe auf (d.h. du bekommst nur von uns Nachrichten).
				</li>
				<li>
					Abonniere uns auf <a href="http://instagram.com/klimachallenge" target="_blank">Instagram</a>.
				</li>
				<li>
					Tritt unserer <a href="https://www.facebook.com/groups/397052697323423/?fref=ts"target="_blank">Facebook-Gruppe</a> bei.
				</li>
				<li>
					wöchentliche E-Mail: Schreibe einfach kurz "ich bin dabei" an: <a href="mailto:klimafasten@klimachallenge.de">klimafasten@klimachallenge.de</a>
				</li>
			</ol>

         <h3>Wähle deine Challenge</h3>
			Setze dir vorab für die Fastenzeit ein konkretes Ziel. Das kann zum Beispiel sein:
			<ul>
				<li>
					Ernähre dich vegetarisch, spare über 100kg CO2 (und sammle dadurch bis zu 800 Klimapunkte)
				</li>
				<li>
					Ernähre dich vegan, spare bis zu 200kg CO2 (und sammle bis zu 1500 Klimapunkte)
				</li>
				<li>
					Wechsle zu Ökostrom, spare schon jetzt über 350kg CO2 (und erhalte bis zu 3000 Klimapunkte)
				</li>
				<li>
					Eine Shopping-Pause einlegen: spare über 50kg CO2 (und erhalte bis zu 500 Punkte)
				</li>
				<li>
					Fahre überall mit dem Fahrrad hin, spare über 50kg CO2 (und erhalte bis zu 500 Punkte)
				</li>
				<li>
					Vermeide Plastik/Müll, wo es geht  (z.B. 7 Wochen ohne Plastiktüten, ohne Einwegbecher und -flaschen; oder schaffst du es sogar ganz plastikfrei?...)
				</li>
			</ul>

         <h3> Deine Belohnung: Punkte, Poetry und Preise</h3>
         Neben der wohligen Gewissheit, etwas Gutes getan zu haben, kannst du nach Ende der Fastenzeit deine Erfolge bei uns auf der Seite eintragen und so Punkte für die Klima-Challenge sammeln.

			<p>
				Wenn wir das letzte Etappenziel erreichen, stellt sich Minister Wenzel der finalen Herausforderung und tritt bei unserem Poetry Slam auf der IdeenExpo auf!
			</p>
       	<p>
				Außerdem kannst du tolle Preise absahnen! Damit du nach der Fastenzeit weiter durchhältst, verlosen wir als Starthilfe Klima-Kochbücher, schnieke Soulbottles und Bahngutscheine.
			</p>

         <md-whiteframe class="md-whiteframe-z2 card small-frame rotate-right" style="max-width: 400px; margin: 0 auto;">
            <img class="card-image" ng-src="/img/klimafasten/klimafasten-team.jpg" alt="Klima-Aktionstage" />
            <div class="image-caption">
                  Macht mit beim #klimafasten2017
            </div>
         </md-whiteframe>
   	</md-whiteframe>
	</div>
</section>
