<section layout-wrap class="contract" layout="row">
   <div flex-sm="100" flex-md="90" flex-gt-md="80" flex-offset-md="5" flex-offset-gt-md="10">
      <md-whiteframe flex class="md-whiteframe-z2 card">

         <h1>Liebe Klima-Faster_innen!</h1>
         <p>
            Es ist nun schon etwas her, dass wir gemeinsam erfolgreich unsere Klima-Fastenzeit beendet haben. Höchste Zeit, dass ihr eure Erfolge im <a href="/mitmachen">Punktesystem</a> eintragt! Bisher sind erst ein paar Einträge gemacht worden – wir wissen aber, dass wir noch viele mehr waren. Also nix wie ran an die Tasten! ;)
         </p>
         <p>
            Das Punktesystem ist nicht auf Aktionen von Einzelpersonen zugeschnitten, daher kann es sein, dass dich manche Fragen/ Antwortmöglichkeiten etwas verwirren. Versuche einfach, so passend wie möglich zu antworten und übersehe es ruhig, wenn irrtümlich von <i>Verband</i> die Rede ist.
         </p>
         <p>
            Wichtig: Damit unsere Website schön bunt wird, lade doch bitte ein Foto von dir und/oder einem Gegenstand hoch, den du mit deinem Fasten verbindest. Es muss nicht zwingend aus der Fastenzeit stammen.
         </p>
         <p>
            Hier ein paar Tipps, was du bei nicht ganz eindeutigen Antwortoptionen angeben kannst:
         </p>
         <p>
            <h3>Für alle Fasten-Arten</h3>
            <ul>
               <li>
                  Wenn du nicht mit einer Jugendgruppe gefastet hast, schreibe unter Jugendgruppe „keine“ und wähle den Träger „Sonstige/Kein Träger“
               </li>
               <li>
                  Bitte beschreibe im Textfeld auf der ersten Seite kurz, was du gefastet hast (ggf. in welchem Rahmen/ mit wem) und welche Erfahrungen du dabei gemacht hast.
               </li>
               <li>
                  Bei der Teilnehmerzahl trägst du ein, ob du alleine klima-gefastet hast oder mit anderen als Gruppe (<b>dann bitte nur ein gemeinsamer Eintrag</b>)
               </li>
               <li>
                  „Wurden den Teilnehmer_innen Ideen mitgegeben, was sie über diese Aktion hinaus konkret selbst tun können, um das Klima zu schützen?“ → Ja (durch die Mails der Klima-Challenge)
               </li>
               <li>
                  Wieviel Zeit habt Ihr [...] gebraucht? Hier kannst du angeben, wie viel Zeit dich die Umstellung, z.B. für die Recherche von Alternativen, in etwa gekostet hat.
               </li>
               <li>
                  „Habt ihr die Aktion gemeinsam mit Menschen organisiert, die nicht in eurem Verein oder Verband sind?“ → Hier wirst du wahrscheinlich mit „nein“ antworten
               </li>
            </ul>

            <h3>Vegetarische oder vegane Ernährung</h3>
            <ul>
               <li>
                  Wähle bei „Welche Aktion habt ihr durchgeführt“ Versuchsvegetarier_in oder Versuchsveganer_in
               </li>
            </ul>

            <h3>Plastik-Fasten</h3>
            <ul>
               <li>
                  Wähle bei „Welche Aktion habt ihr durchgeführt?“ Sonstiges
               </li>
               <li>
                  Kurzbeschreibung im Textfeld: Bitte beschreibe so genau wie möglich, was du eingespart hast. Welche Verpackungen/ Plastikartikel konntest du (auf welche Weise) einsparen und wie häufig war das? Lass' es uns wissen, wir berechnen dann deine zusätzlichen Klima-Punkte :)
               </li>
            </ul>

            <h3>Shopping-Fasten</h3>
            <ul>
               <li>
                  Wähle bei „Welche Aktion habt ihr durchgeführt?“ Shopping-Fasten
               </li>
               <li>
                  „Auf wie viele neue Kleidungsstücke wurde verzichtet?“ Hierzu zählen alle Kleidungsstücke, die du gekauft hättest, wenn du nicht gefastet hättest. Orientiere dich daran, wie viele Kleidungsstücke du sonst pro Monat kaufst. Schuhe und Strümpfe werden pro Paar gerechnet.
               </li>
            </ul>

            <h3>Kombination von verschiedenen Fastenarten</h3>
            <ul>
               <li>
                  Bitte gib im Freitext-Feld auf der ersten Seite an, was du gefastet hast, am besten mit ungefährer Mengenangabe (siehe Erklärungen bei den Fastenarten oben)
               </li>
            </ul>

            <h3>Anderer Fasten-Inhalt</h3>
            <ul>
               <li>
                  Wähle bei „Welche Aktion habt ihr durchgeführt?“ Sonstiges
               </li>
               <li>
                  Beschreibung: Schildere bitte so genau wie möglich WAS du gefastet hast, WIE VIEL DAVON und WIE HÄUFIG/LANGE?
               </li>
            </ul>
         </p>
      </md-whiteframe>
   </div>
</section>
