<section class="space-box box-clean-white header-size">
   <div layout="row" layout-align="start center" layout-wrap>
		<div flex-sm="100" flex-md="50" flex-gt-md="35" flex-offset-gt-md="5">
         <img src="/img/klimafasten/logo.jpg" alt="Klimafasten 2017" style="width: 100%;">
      </div>
      <div flex-sm="100" flex-gt-sm="50" flex-offset-gt-md="5">
         Du hast manchmal das Gefühl, dass weniger mehr wäre?
			Du willst mehr für Nachhaltigkeit tun und fragst dich, wo du ansetzen sollst?
			Egal ob Langzeit-Veganer*in oder Klima-Noob, der Wandel beginnt bei dir zu Hause.
      </div>
   </div>
</section>

<section class="space-box box-grey">
   <div layout="row" layout-align="start center" layout-wrap>
      <div flex-sm="100" flex-gt-sm="50" flex-offset-gt-md="5">
	      <h2><b>Du hast mitgefastet? So sammelst du Klima-Punkte</b></h2>
Egal, was und wie viele Tage du gefastet hast: Trage deine Erfolge unter <a href="http://klima-challenge/mitmachen" target="_blank">klima-challenge/mitmachen</a> ein, sammle so mit uns Klimapunkte und nimm an der Schlussverlosung teil! (Einträge bis zum 1. Mai)
	      <p>
	      Das Punktesystem ist nicht auf Aktionen von Einzelpersonen zugeschnitten, daher kann es sein, dass dich manche Fragen/ Antwortmöglichkeiten etwas verwirren. Versuche einfach, so passend wie möglich zu antworten und ignoriere es einfach, wenn irrtümlich von „Verband“ die Rede ist.
<p>
Hier ein paar Tipps, was du bei nicht ganz eindeutigen Antwortoptionen angeben kannst:
</p>
<p>	      
	<b> Für alle Fastenarten:</b>
</p> 
<li>
	      Bitte beschreibe im Textfeld auf der ersten Seite kurz, was du gefastet hast (ggf. in welchem Rahmen/ mit wem) und ggf. welche Erfahrungen du dabei gemacht hast/ wie die Erfahrung war. 
	      </li>
	      <li>
Bei der Teilnehmerzahl trägst du ein, ob du alleine klima-gefastet hast oder mit anderen als Gruppe (dann bitte nur ein gemeinsamer Eintrag)
</li>
	      <li>
„In Bezug auf die klimafreundliche Aktion haben die Teilnehmer_innen… 
=> wähle „sich engagiert, selbst mit angepackt oder sind aktiv geworden.“
	      </li>
	      <li>
„Wurden den Teilnehmer_innen Ideen mitgegeben, was sie über diese Aktion hinaus konkret selbst tun können, um das Klima zu schützen?“ → Ja (durch die Mails der Klima-Challenge)
</li>
<li>
Wieviel Zeit habt Ihr für Planung, Durchführung und Nachbereitung gebraucht? Hier kannst du angeben, wie viel Zeit dich die Umstellung, z.B. für die Recherche von Alternativen, in etwa gekostet hat.
</li>
	<p><b>	      Versuchs-Vegetarier_in/ -Veganer_in </b><br/>
	</p>
<li>	Wähle bei „Welche Aktion habt ihr durchgeführt“ Versuchsvegetarier_in/ Versuchsveganer_in
</li>
	      <p>
		      <b>Plastik-Fasten</b>
	      </p>
<li> Wähle bei „Welche Aktion habt ihr durchgeführt?“: Sonstiges
	      </li>
<li> Kurzbeschreibung im Textfeld: Bitte beschreibe so genau wie möglich, was du eingespart hast. Welche Verpackungen/ Plastikartikel konntest du einsparen und wie häufig war das? Hast du dir irgendwas angeschafft, das Plastikartikel dauerhaft ersetzt? Hast du auf andere Weise Plastik vermieden? Lass' uns wissen, wie! Wir berechnen dann deine zusätzlichen Klima-Punkte :)
	      </li>
<p>
	<b>	      Shopping-Fasten</b>
	      </p>
<li>
	      Wähle bei „Welche Aktion habt ihr durchgeführt“ Shopping-Fasten
	      </li>
	      <li> „Auf wie viele neue Kleidungsstücke wurde verzichtet?“ → Hierzu zählen alle Kleidungsstücke, die du gekauft hättest, wenn du nicht gefastet hättest. Überlege dir, wie viele Kleidungsstücke du sonst pro Monat kaufst und orientiere dich daran. 
	      </li>

      </div>
      <div flex-sm="100" flex-md="50" flex-gt-md="35" flex-offset-gt-md="5">
			<md-whiteframe class="md-whiteframe-z2 card">

				<h2>Voller Erfolg!</h2>
				Diese Fastenzeit stand ganz im Zeichen des Klimaschutzes. Wir können stolz verkünden: 40 Tage lang haben 300 junge Menschen die Challenge verfolgt, ihr Alltagshandeln klimafreundlicher zu gestalten! Das ist eine tolle Bilanz, danke an alle Teilnehmer_innen! 

			</md-whiteframe>
      </div>
   </div>
</section>

<section class="space-box box-light-blue compare">
   <div flex flex-gt-md="90" flex-offset-gt-md="5" class="info-cards">
		<div class="compare-text">

			<h2>Mitmachen - so geht's!</h2>
			<p>Wähle aus folgenden Kanälen, um unsere Tipps und Tricks zu entdecken: Messenger (Whatsapp oder Telegram), <a href="http://instagram.com/klimachallenge" target="_blank">Instagram</a>, <a href="https://www.facebook.com/groups/397052697323423/?fref=ts"target="_blank">unsere Facebook-Gruppe</a> oder E-Mail. Für Whatsapp/Telegram und E-Mail melde dich in den folgenden Formularen an, für Instagram und Facebook folge den Links.

		</div>
      <div layout-wrap layout="row" layout-sm="column">
         <div flex flex-gt-sm="50">
				<md-whiteframe class="md-whiteframe-z2 card action-card">
               <div class="category-icon">
                  <ng-md-icon style="fill: #02bcd4" size="90" icon="whatsapp"></ng-md-icon>
               </div>
               <h2>Mitmachen per Messenger</h2>
					<div class="card-description" ng-show="authData">
						<div class="admin-note">Liste der TeilnehmerInnen (nur für Admins sichtbar):</div>
						<md-list>
							<md-list-item class="md-3-line" ng-repeat="participant in messengerParticipants">
							  <div class="md-list-item-text" layout="column">
								 <h3 ng-if="participant.fullName">{{ participant.fullName }}</h3>
							    <h3>{{ participant.mobile }}</h3>
							    <h4>{{ participant.selectedOffer == 'Sonstiges' ? participant.customOffer : participant.selectedOffer }}</h4>
							    <p>{{ participant.messengerType }}</p>
							  </div>
							</md-list-item>
						</md-list>
					</div>
               <div class="card-description" ng-show="!authData">
						<div ng-show="messengerSubmitted">
							Vielen Dank fürs Mitmachen!
						</div>
						<form name="messengerForm" ng-submit="addMessenger()" ng-hide="messengerSubmitted">
							<md-input-container flex>
								<label class="md-no-float">Name (+ ggf. Verband)</label>
								<input type="text" ng-model="fullName" ng-required="true">
							</md-input-container>
							<md-input-container flex>
								<label class="md-no-float">Dein Beitrag</label>
								<select ng-model="selectedOffer" required>
									<option ng-repeat="offer in offers">{{ offer }}</option>
								</select>
							</md-input-container>
							<md-input-container ng-show="selectedOffer == 'Sonstiges'" flex>
	                     <label>Was ist dein Ziel?</label>
	                     <input type="text" ng-model="customOffer">
	                  </md-input-container>
							<md-input-container flex>
	                     <label>Handynummer eintragen</label>
	                     <input type="text" ng-model="mobile" ng-required="true">
	                  </md-input-container>
							<md-button class="md-raised md-primary" style="float: right">Mitmachen</md-button>
							<md-radio-group ng-model="messengerType">
								<md-radio-button value="WhatsApp">WhatsApp</md-radio-button>
								<md-radio-button value="Telegram">Telegram</md-radio-button>
							</md-radio-group>
						</form>
                  Wir nehmen dich gerne in unsere Telegram- oder Whatsapp-Broadcast-Gruppe auf (d.h. ohne Gruppenchat). WICHTIG! Nur, wenn du unsere Nummer in deinen Kontakten abspeicherst, können wir dich hinzufügen: +491772730898.
               </div>
            </md-whiteframe>
         </div>
         <div flex flex-gt-sm="50">
				<md-whiteframe class="md-whiteframe-z2 card action-card">
               <div class="category-icon">
                  <ng-md-icon style="fill: #02bcd4" size="90" icon="email"></ng-md-icon>
               </div>
               <h2>Mitmachen per E-Mail</h2>
					<div class="card-description" ng-show="authData">
						<div class="admin-note">Liste der TeilnehmerInnen (nur für Admins sichtbar):</div>
						<md-list>
							<md-list-item class="md-3-line" ng-repeat="participant in emailParticipants">
							  <div class="md-list-item-text" layout="column">
								 <h3 ng-if="participant.fullName">{{ participant.fullName }}</h3>
							    <h3>{{ participant.email }}</h3>
							    <h4>{{ participant.selectedOffer == 'Sonstiges' ? participant.customOffer : participant.selectedOffer }}</h4>
							  </div>
							</md-list-item>
						</md-list>
					</div>
               <div class="card-description" ng-show="!authData">
						<div ng-show="emailSubmitted">
							Vielen Dank fürs Mitmachen!
						</div>
						<form name="emailForm" ng-submit="addEmail()" ng-hide="emailSubmitted">
							<md-input-container flex>
								<label class="md-no-float">Name (+ ggf. Verband)</label>
								<input type="text" ng-model="fullName" ng-required="true">
							</md-input-container>
							<md-input-container flex>
								<label class="md-no-float">Dein Beitrag</label>
								<select ng-model="selectedOffer" required>
									<option ng-repeat="offer in offers">{{ offer }}</option>
								</select>
							</md-input-container>
							<md-input-container ng-show="selectedOffer == 'Sonstiges'" flex>
	                     <label>Was ist dein Ziel?</label>
	                     <input type="text" ng-model="customOffer">
	                  </md-input-container>
							<md-button class="md-raised md-primary" style="float: right">Mitmachen</md-button>
							<md-input-container flex>
	                     <label>E-Mail-Adresse eintragen</label>
	                     <input type="email" ng-model="email" ng-required="true">
	                  </md-input-container>
						</form>
                  Du erhältst während des Klimafastens eine wöchentliche Zusammenfassung unserer Posts und Kurznachrichten per E-Mail von uns.
               </div>
            </md-whiteframe>
         </div>
      </div>
   </div>
</section>

<section class="space-box box-green">
   <div layout="row" layout-align="start center" layout-wrap>
      <div flex-sm="100" flex-gt-sm="50" flex-offset-gt-md="5">
			<h2>Deine Belohnung:<br />Punkte, Poetry und Preise</h2>
         Neben der wohligen Gewissheit, etwas Gutes getan zu haben, kannst du nach Ende der Fastenzeit deine Erfolge bei uns auf der Seite eintragen und so Punkte für die Klima-Challenge sammeln.
			<p>
				Wenn wir das letzte Etappenziel erreichen, stellt sich Minister Wenzel der finalen Herausforderung und tritt bei unserem Poetry Slam auf der IdeenExpo auf!
			</p>
       	<p>
				Außerdem kannst du tolle Preise absahnen! Damit du nach der Fastenzeit weiter durchhältst, verlosen wir als Starthilfe Klima-Kochbücher, schnieke Soulbottles und Bahngutscheine.
			</p>
      </div>
      <div flex-sm="100" flex-md="50" flex-gt-md="35" flex-offset-gt-md="5">
			<md-whiteframe class="md-whiteframe-z2 card small-frame rotate-right" style="max-width: 400px; margin: 0 auto;">
            <img class="card-image" ng-src="/img/klimafasten/klimafasten-team.jpg" alt="Klima-Aktionstage" />
            <div class="image-caption">
                  Macht mit beim #klimafasten2017
            </div>
         </md-whiteframe>
      </div>
   </div>
</section>
