<md-whiteframe class="md-whiteframe-z2">
   <md-content>
      <md-card ng-repeat="item in [1,2,3,4]">
        <img ng-src="http://proof.nationalgeographic.com/files/2015/07/01__DSC5787.jpg" class="md-card-image" alt="Washed Out">
        <md-card-content>
           <h2 class="md-title">Paracosm</h2>
           <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </div>
      </md-card>
   </md-content>
</md-whiteframe>
