<section layout-gt-md="row" class="info-phrase space-box">
   <div flex flex-gt-md="90" offset-gt-md="5" class="info-cards">
      <h2>So könnt ihr Punkte sammeln</h2>

      <p><b>Wer kann bei der „Klima-Challenge“ mitmachen?</b></p>
      <p>Jede Jugendgruppe, jeder Jugendverband, alle zwischen 12 und 27 Jahren, die sich engagieren wollen und in Niedersachsen wohnen.</p>
       Unter allen Teilnehmenden verlosen wir regelmäßig tolle Gewinne.
      </p>
      <p><b>Wie könnt ihr mitmachen?</b></p>
      <p>
         Punkte bringt alles, was das Klima schützt: Ihr könnt an Klima-Seminaren teilnehmen, thematische GPS-Touren machen, aus alten Paletten Möbel bauen, Kleidertauschpartys veranstalten – oder eure eigenen Ideen umsetzen! Unsere Angebote und Anregungen findet ihr weiter unten.<br>
         <br>
      </p>
      <p><b>Das Punktesystem ist im Aufbau</b></p>
      <p>Ab November könnt ihr hier eure Aktionen eintragen und dafür Punkte kassieren. Wenn ihr schon vorher aktiv werdet, zählt das natürlich auch: Schreibt uns einfach eine kurze Beschreibung der Aktion (anna-maria@janun.de), wir übernehmen auch gerne den Eintrag oder sagen euch Bescheid, sobald das Punktesystem online ist.</p>
   </div>
   <br>
   <p>Nimmst du die Challenge an?</p>
</section>

<section layout-gt-md="row" class="participate edu" layout="column">
   <div flex flex-gt-md="80" offset-gt-md="10" class="info-cards">
      <h2>Bildungsangebote</h2>
      <div class="sub-heading">
         Unsere Teamenden kommen kostenlos zu euch
      </div>
      <div layout-wrap layout="row" layout-sm="column">
         <div flex flex-gt-sm="50">
            <md-whiteframe class="md-whiteframe-z2 card action-card">
               <div class="category-icon">
                  <ng-md-icon style="fill: #8bc34a" size="90" icon="content_paste"></ng-md-icon>
               </div>
               <h2>Interaktive Klima-Workshops</h2>
               <h3>Dauer variabel, Indoor oder Outdoor</h3>
               <p>
                  Ob bei der Juleica-Schulung, der Landesversammlung oder im Zeltlager: Wir bieten euch abwechslungsreiche Workshops zum Thema – zeitlich und vom Niveau her anpassbar auf eure Teilnehmenden.<br>
                  Zudem bieten wir an, besonders interessierte Jugendliche selbst zu Teamer*innen auszubilden.
               </p>
            </md-whiteframe>
         </div>
         <div flex flex-gt-sm="50">
            <md-whiteframe class="md-whiteframe-z2 card action-card">
               <div class="category-icon">
                  <ng-md-icon style="fill: #8bc34a" size="90" icon="location_city"></ng-md-icon>
               </div>
               <h2>TemperaTour: Die Klima-Stadtführung</h2>
               <h3>ca. 90 min. Outdoor</h3>
               <p>
                  Unterwegs für's Klima: An fünf Stationen in der Stadt oder auch im Ferienlager werden verschiedene Aspekte des Klimawandels und die eigenen Handlungsmöglichkeiten vorgestellt. Bucht eine interaktive Stadtführung mit vielen Mitmach-Stationen oder lasst euch selbst zur/m Stadtführer*in ausbilden und bietet dann selbst Führungen an!
               </p>
            </md-whiteframe>
         </div>
      </div>
   </div>
</section>
<section layout-gt-md="row" class="participate edu" layout="column">
   <div flex flex-gt-md="80" offset-gt-md="10" class="info-cards">
      <div class="sub-heading">
         Leihmaterial, um Aktionen selbst durchzuführen
      </div>
      <div layout-wrap layout="row" layout-sm="column">
         <div flex flex-gt-sm="50">
            <md-whiteframe class="md-whiteframe-z2 card action-card">
               <div class="category-icon">
                  <ng-md-icon style="fill: #8bc34a" size="90" icon="satellite"></ng-md-icon>
               </div>
               <h2>GPS-Bildungsroute mit Klima-Quiz</h2>
               <p>
                  Geocaching einmal anders: Wir schicken euch die fertigen Stationen zu, ihr legt nur noch die Route an – ca. 3 Stunden Spaß in der Natur mit Klimarätseln bei den einzelnen Stationen sind garantiert. GPS-Geräte können bei uns geliehen werden. Außerdem legen wir auch gerne feste Routen bei euren Tagungshäusern an.
               </p>
            </md-whiteframe>
         </div>
         <div flex flex-gt-sm="50">
            <md-whiteframe class="md-whiteframe-z2 card action-card">
               <div class="category-icon">
                  <ng-md-icon style="fill: #8bc34a" size="90" icon="wb_sunny"></ng-md-icon>
               </div>
               <h2>Solar- und Windpumpe</h2>
               <p>
                  Ob Muskelkraft Sonne und Wind schafft? Veranstaltet ein Wettpumpen gegen Sonnen- und Windenergie! Ein Mensch pumpt per Hand gegen eine Pumpe an, die per Solarmodul und/oder Windrad betrieben wird. Am Wasserstand lässt sich ablesen, wer stärker ist. So wird erneuerbare Energie erlebbar!<br>
                  Die Pumpe wurde von der Jugendfeuerwehr Niedersachsen für uns entwickelt, kann bei uns ausgeliehen werden und wird von einer kleinen Ausstellung begleitet.
               </p>
            </md-whiteframe>
         </div>
      </div>
   </div>
</section>

<section layout-gt-md="row" class="participate infos" layout="column">
   <div flex flex-gt-md="80" offset-gt-md="10" class="info-cards">
      <div layout-wrap layout="row" layout-sm="column">
         <div flex flex-gt-sm="50">
            <h2>Infos und Tipps</h2>
            <div class="sub-heading">
               Das <b>Praxisbuch K</b> ist eine kostenlose Veröffentlichung des Niedersächsischen Landesjugendrings.
            </div>
         </div>
         <div flex flex-gt-sm="50">
            <md-whiteframe class="md-whiteframe-z2 card action-card">
               <div class="category-icon">
                  <ng-md-icon style="fill: #8bc34a" size="90" icon="assignment_turned_in"></ng-md-icon>
               </div>
               <h2>Praxisbuch K</h2>
               <h3>Für eine klimafreundliche Jugendarbeit</h3>
               <p>Hier findet ihr theoretisches Wissen, Tipps und anschauliche Praxisbeispiele etwa zu folgenden Fragen: Wie können wir eine Veranstaltung nach ökologischen Gesichtspunkten gestalten? Wie können wir Gruppenstunden klimafreundlicher machen? Welche verbandspolitischen Möglichkeiten gibt es?<br><p>
               <div class="md-actions" layout="row" layout-align="end center">
                  <md-button target="_blank" ng-href="http://www.ljr.de/fileadmin/productdownloads/PraxisbuchK_web_01.pdf"><ng-md-icon style="fill: #455a64" size="24" icon="file_download"></ng-md-icon> Download</md-button>
               </div>
            </md-whiteframe>
         </div>
      </div>
   </div>
</section>

<section layout-gt-md="row" class="participate edu" layout="column">
   <div flex flex-gt-md="80" offset-gt-md="10" class="info-cards">
      <h2>Weitere Aktionen</h2>
      <div class="sub-heading">
         Anregungen und Ideen für Aktionen in Gruppen
      </div>
      <div layout-wrap layout="row" layout-sm="column">
         <div flex flex-gt-sm="50">
            <md-whiteframe class="md-whiteframe-z2 card action-card">
               <div class="category-icon">
                  <ng-md-icon style="fill: #8bc34a" size="90" icon="file_upload"></ng-md-icon>
               </div>
               <h2>Upcycling</h2>
               <h3>Ressourcen schonen</h3>
               <p>
                  Beim Upcycling wird Abfall für die Herstellung neuer Produkte verwendet. Im Gegensatz zu Recycling ist weniger Energie nötig, um Neues zu schaffen. Dabei entstehen unglaublich viele schöne Produkte, z.B. Möbel aus alten Palletten, Taschen aus Fahrradschläuchen, Schmuck aus Besteck, fescher Weihnachtsschmuck aus Teelichthüllen, ...
               </p>
            </md-whiteframe>
         </div>
         <div flex flex-gt-sm="50">
            <md-whiteframe class="md-whiteframe-z2 card action-card">
               <div class="category-icon">
                  <ng-md-icon style="fill: #8bc34a" size="90" icon="settings"></ng-md-icon>
               </div>
               <h2>Repair-Café</h2>
               <p>
                  „Repair Cafès“ sind Treffen, bei denen Freiwillige anderen Menschen helfen, ihre defekten Besitztümer zu reparieren und sie so vor der Mülltonne zu retten. So können kaputte Elektrogeräten, Möbel, Kleider und Fahrräder wieder zum Leben erweckt werden. Anleitungen zum Reparieren bietet z.B. die App „ifixit“ - oder ihr sucht euch einfach Leute aus eurer Gruppe, die technisch oder Bastel-begabt sind!
               </p>
            </md-whiteframe>
         </div>
         <div flex flex-gt-sm="50">
            <md-whiteframe class="md-whiteframe-z2 card action-card">
               <div class="category-icon">
                  <ng-md-icon style="fill: #8bc34a" size="90" icon="whatshot"></ng-md-icon>
               </div>
               <h2>Grillparty mal anders!</h2>
               <p>
                  Wie schmeckt eigentlich... vegetarisch/vegan grillen? Probiert's aus und schützt damit das Klima, denn vegane Ernährung verursacht nur ca. ein Fünftel der Emissionen einer durchschnittlichen Ernährung...
               </p>
            </md-whiteframe>
         </div>
         <div flex flex-gt-sm="50">
            <md-whiteframe class="md-whiteframe-z2 card action-card">
               <div class="category-icon">
                  <ng-md-icon style="fill: #8bc34a" size="90" icon="phone_android"></ng-md-icon>
               </div>
               <h2>Handy-Sammel-Aktion</h2>
               <h3>Aktion bis 15.12.</h3>
               <p>
                  Rettet wertvolle Rohstoffe und bessert gleichzeitig die Vereinskasse auf.
               </p>
               <div class="md-actions" layout="row" layout-align="end center">
                  <md-button target="_blank" ng-href="https://www.altes-handy-neuer-sinn.de/sammelaktionen/sammelaktion-fuer-vereine">Mehr Infos</md-button>
               </div>
            </md-whiteframe>
         </div>
         <div flex flex-gt-sm="50">
            <md-whiteframe class="md-whiteframe-z2 card action-card">
               <div class="category-icon">
                  <ng-md-icon style="fill: #8bc34a" size="90" icon="nature"></ng-md-icon>
               </div>
               <h2>Baumpflanz-Aktion</h2>
               <p>
                  Ihr könnt z.B. Bäume pflanzen, deren Früchte essbar sind. So profitiert nicht nur das Klima, sondern auch ihr!
               </p>
            </md-whiteframe>
         </div>
         <div flex flex-gt-sm="50">
            <md-whiteframe class="md-whiteframe-z2 card action-card">
               <div class="category-icon">
                  <ng-md-icon style="fill: #8bc34a" size="90" icon="content_cut"></ng-md-icon>
               </div>
               <h2>Kleidertauschparty</h2>
            </md-whiteframe>
         </div>
      </div>
   </div>
</section>
<section layout-gt-md="row" class="participate edu" layout="column">
   <div flex flex-gt-md="80" offset-gt-md="10" class="info-cards">
         <h2>... für Einzelpersonen</h2>
      <div layout-wrap layout="row" layout-sm="column">
         <div flex flex-gt-sm="50">
            <md-whiteframe class="md-whiteframe-z2 card action-card">
               <div class="category-icon">
                  <ng-md-icon style="fill: #8bc34a" size="90" icon="restaurant_menu"></ng-md-icon>
               </div>
               <h2>Alltagsexperiente</h2>
               <h3>Zum Beispiel zur Fastenzeit</h3>
               <p>
                  Wie wäre es mit Shopping-Fasten (Keine neue Kleidung für eine bestimmte Zeit) oder Plastikfasten (eine zeit lang keine Produkte mit Plastik kaufen). Du könntest dich auch als „Versuchs-Veganer“ eine Weile vegan ernähren oder dir eine andere Challenge fürs Klima ausdenken.
               </p>
            </md-whiteframe>
         </div>
         <div flex flex-gt-sm="50">
            <md-whiteframe class="md-whiteframe-z2 card action-card">
               <div class="category-icon">
                  <ng-md-icon style="fill: #8bc34a" size="90" icon="directions_bus"></ng-md-icon>
               </div>
               <h2>Umweltfreundlich mobil</h2>
               <p>
                  Du fährst öfter mit dem Auto, Bus o.ä. zu Schule oder Uni? Dann wäre es eine Klima-Challenge, wo möglich zeitweise oder sogar dauerhaft aufs Fahrrad umzusteigen. Das bringt nicht nur Punkte sondern auch Muskeln ;)
               </p>
            </md-whiteframe>
         </div>
      </div>
   </div>
</section>
<section layout-gt-md="row" class="participate edu" layout="column">
   <div flex flex-gt-md="80" offset-gt-md="10" class="info-cards">
      <h2>... für Verbände</h2>
      <div layout-wrap layout="row" layout-sm="column">
         <div flex flex-gt-sm="50">
            <md-whiteframe class="md-whiteframe-z2 card action-card">
               <div class="category-icon">
                  <ng-md-icon style="fill: #8bc34a" size="90" icon="wb_sunny"></ng-md-icon>
               </div>
               <h2>Stromanbieterwechsel</h2>
               <h3>zu einem Öko-Strom-Anbieter</h3>
               <p>
                  z.B. Naturstrom, Elektrizitätswerke Schönau oder Greenpeace Energy
               </p>
            </md-whiteframe>
         </div>
         <div flex flex-gt-sm="50">
            <md-whiteframe class="md-whiteframe-z2 card action-card">
               <div class="category-icon">
                  <ng-md-icon style="fill: #8bc34a" size="90" icon="directions_bike"></ng-md-icon>
               </div>
               <h2>Ein umweltfreundliches Gefährt anschaffen</h2>
               <h3>Erdgas-Bus, E-Bike, ...</h3>
            </md-whiteframe>
         </div>
         <div flex flex-gt-sm="50">
            <md-whiteframe class="md-whiteframe-z2 card action-card">
               <div class="category-icon">
                  <ng-md-icon style="fill: #8bc34a" size="90" icon="wb_incandescent"></ng-md-icon>
               </div>
               <h2>Umstieg auf Energiesparlampen und/oder Recyclingpapier</h2>
            </md-whiteframe>
         </div>
         <div flex flex-gt-sm="50">
            <md-whiteframe class="md-whiteframe-z2 card action-card">
               <div class="category-icon">
                  <ng-md-icon style="fill: #8bc34a" size="90" icon="home"></ng-md-icon>
               </div>
               <h2>Solaranlage für's Vereinsheim anschaffen</h2>
            </md-whiteframe>
         </div>
      </div>
   </div>
</section>
