<section layout-gt-md="row" class="info-phrase space-box">
   <div flex flex-gt-md="90" flex-offset-gt-md="5" class="info-cards" layout-align="end end">

      <h2>So könnt ihr Punkte sammeln</h2>

      <p>
         <b>
            Wer kann bei der „Klima-Challenge“ mitmachen?
         </b>
      </p>
      <p>
         Jede Jugendgruppe, jeder Jugendverband, alle zwischen 12 und 27 Jahren, die sich freiwillig und selbstbestimmt engagieren wollen und in Niedersachsen wohnen.
      </p>
      <p>
         <b>Wie könnt ihr mitmachen?
         </b>
      </p>
      <p>
         Punkte bringt alles, was Jugendarbeit ist und das Klima schützt: Unsere Angebote und Ideen findet ihr weiter unten, ihr könnt aber auch eure eigenen Ideen umsetzen! Tragt eure Aktionen einfach in unserem Formular ein, kassiert damit Punkte und nehmt automatisch an der nächsten Verlosung von tollen Gewinnen teil!
         <br><br>
      </p>
   </div>
</section>

<section layout-gt-md="row" class="project-form space-box">
   <div flex flex-gt-md="90" flex-offset-gt-md="5" class="info-cards" layout-align="end end">
      <h2>Aktion einreichen</h2>
      <md-whiteframe class="md-whiteframe-z2 card action-card">
         <form ng-submit="nextPage()">
            <div class="form-page" ng-if="page==1">
               <h2 class="md-title">Allgemeine Informationen</h2>
               <md-content layout-padding layout-wrap layout="row">
                  <md-input-container flex flex-gt-md="50">
                     <label>Ansprechpartner_in (Vor- und Nachname)</label>
                     <md-tooltip md-direction="bottom">
                        Dein Name wird nicht veröffentlicht!
                     </md-tooltip>
                     <input ng-model="formal.name" ng-required="true">
                  </md-input-container>
                  <md-input-container flex="100" flex-gt-md="50">
                     <label>E-Mail</label>
                     <input ng-model="formal.email" type="email" ng-required="true">
                     <md-tooltip md-direction="bottom">
                        Deine E-Mail-Adresse wird nicht veröffentlicht!
                     </md-tooltip>
                  </md-input-container>
                  <md-input-container flex="100" flex-gt-md="50">
                     <label>Jugendgruppe</label>
                     <input ng-model="formal.group" ng-required="true">
                  </md-input-container>
                  <md-input-container flex="100" flex-gt-md="50">
                     <label>Name eurer Aktion</label>
                     <input ng-model="formal.actionName" ng-required="true">
                  </md-input-container>
                  <md-input-container flex="100" flex-gt-md="50">
                     <label>Start-Datum (TT.MM.JJJJ)</label>
                     <input ng-model="formal.date" ng-required="true">
                  </md-input-container>
                  </md-datepicker>
                  <md-input-container flex="100" flex-gt-md="50">
                     <label class="md-no-float">Träger</label>
                     <select ng-model="formal.carrier" ng-required="true">
                        <option ng-repeat="carrier in carriers">{{ carrier }}</option>
                     </select>
                  </md-input-container>
                  <md-input-container flex="100" flex-gt-md="50">
                     <label>Wo hat die Aktion stattgefunden (Ort/Stadt)?</label>
                     <input ng-model="formal.location" ng-required="true">
                  </md-input-container>
                  <md-input-container flex="100" flex-gt-md="50">
                     <label class="md-no-float">Welche Aktion habt ihr durchgeführt?</label>
                     <select ng-model="formal.event" ng-required="true">
                        <option ng-repeat="(key, event) in events" ng-value="event.name">{{event.name}}</option>
                     </select>
                  </md-input-container>
                  <md-input-container class="md-block" flex>
                     <label>Kurzbeschreibung der Aktion (ca. 2-5 Sätze). Dabei interessiert uns besonders: Habt ihr konkret etwas zugunsten des Klimas eingespart? Wenn ja, was genau (falls nicht durch die Aktionsart klar) und wie viel davon?</label>
                     <textarea ng-model="formal.description" colums="5" ng-required="true" placeholder="Kurzbeschreibung der Aktion"></textarea>
                  </md-input-container>
               </md-content>
            </div>
            <div class="form-page" ng-if="page==2">
               <h2 class="md-title">Einsparpotential</h2>
               <md-content layout-padding layout-wrap layout="row">
                  <md-input-container flex="100">
                     <label>Wie viele Menschen haben direkt an der Aktion teilgenommen (inklusive Organisatoren)?</label>
                     <input ng-model="potential.f1" type="number" min="1" ng-required="true">
                  </md-input-container>
                  <md-input-container flex="100">
                     In Bezug auf die klimafreundliche Aktion haben die Teilnehmer_innen …
                     <md-content layout-padding layout-wrap layout="row">
                        <md-input-container flex>
                           <md-checkbox ng-model="potential.f21">… vor allem zugehört, zugesehen oder konsumiert.</md-checkbox>
                           <md-checkbox ng-model="potential.f22">… mit diskutiert.</md-checkbox>
                           <md-checkbox ng-model="potential.f23">… sich engagiert, selbst mit angepackt oder sind aktiv geworden.</md-checkbox>
                        </md-input-container>
                     </md-content>
                  </md-input-container>
                  <md-input-container flex="100">
                     <label class="md-no-float">Haben sich die Teilnehmer_innen umfassend und konkret damit beschäftigt, wie sich ihr persönliches Verhalten auf das Klima auswirkt?</label>
                     <select ng-model="potential.f3" ng-required="true">
                        <option value="0">Nein</option>
                        <option value="3">Ja</option>
                     </select>
                  </md-input-container>
                  <md-input-container flex="100" ng-required="true">
                     <label class="md-no-float">Wurden den Teilnehmer_innen Ideen mitgegeben, was sie über diese Aktion hinaus konkret selbst tun können, um das Klima zu schützen?</label>
                     <select ng-model="potential.f4">
                        <option value="0">Nein</option>
                        <option value="3">Ja</option>
                     </select>
                  </md-input-container>
                  <md-input-container flex="100" ng-required="true">
                     <label class="md-no-float">Bewirkt diese Aktion eine langfristige Veränderung?</label>
                     <select ng-model="potential.f5" ng-required="true">
                        <option value="1">Diese Aktion war einmalig.</option>
                        <option value="2">Diese Aktion beinhaltet mehre wiederkehrende Tätigkeiten bevor die Aktion als beendet angesehen wird.</option>
                        <option value="3">Diese Aktion führt zu einer langfristigen Veränderung in unserem Verband / unserer Jugendgruppe.</option>
                     </select>
                  </md-input-container>
                  <md-input-container flex="100">
                     <label class="md-no-float">In welchem Rahmen habt Ihr eure Aktion durchgeführt?</label>
                     <select ng-model="potential.f6" ng-required="true">
                        <option value="1">Geschlossene Gruppe</option>
                        <option value="2">Offen angebotene Aktion, bei der alle Interessierten mitmachen konnten</option>
                        <option value="3">Frei zugängliche und im öffentlichen Raum sichtbare Aktion</option>
                     </select>
                  </md-input-container>
               </md-content>
            </div>
            <div class="form-page" ng-if="page==3">
               <h2 class="md-title">Über die Aktion konnte man (vorher oder hinterher) etwas in den folgenden Medien erfahren:</h2>
               <md-content layout-padding layout-wrap layout="row">
                  <md-input-container flex="100" flex-gt-md="50">
                     <md-checkbox ng-model="media.email">E-Mail</md-checkbox>
                     <md-checkbox ng-model="media.facebook">Facebook</md-checkbox>
                     <md-checkbox ng-model="media.twitter">Twitter</md-checkbox>
                  </md-input-container>
                  <md-input-container flex="100" flex-gt-md="50">
                     <md-checkbox ng-model="media.instagram">Instagram</md-checkbox>
                     <md-checkbox ng-model="media.clubmedia">Vereinsmedien</md-checkbox>
                     <md-checkbox ng-model="media.flyer">Flyer</md-checkbox>
                  </md-input-container>
                  <md-input-container flex="100" flex-gt-md="50">
                     <md-checkbox ng-model="media.poster">Poster</md-checkbox>
                     <md-checkbox ng-model="media.website">Webseite</md-checkbox>
                     <md-checkbox ng-model="media.radio">Radio</md-checkbox>
                  </md-input-container>
                  <md-input-container flex="100" flex-gt-md="50">
                     <md-checkbox ng-model="media.tv">Fernsehen</md-checkbox>
                     <md-checkbox ng-model="media.newspaper">Zeitung</md-checkbox>
                     <md-checkbox ng-model="media.other">Sonstiges</md-checkbox>
                  </md-input-container>
               </md-content>
            </div>
            <div class="form-page" ng-if="page==4">
               <h2 class="md-title">Aufwand</h2>
               <md-content layout-padding layout-wrap layout="row">
                  <md-input-container flex="100">
                     <label class="md-no-float">Wieviel Zeit habt Ihr für Planung, Durchführung und Nachbereitung gebraucht? (z.B. 5 Personen à 5 Stunden = 25)</label>
                     <select ng-model="effort.f8" ng-required="true">
                        <option value="0.5">&lt;10 Stunden</option>
                        <option value="1">10-50 Stunden</option>
                        <option value="2">50-100 Stunden</option>
                        <option value="3">&gt;100 Stunden</option>
                     </select>
                  </md-input-container>
                  <md-input-container flex="100">
                     <label class="md-no-float">Habt ihr die Aktion gemeinsam mit Menschen organisiert, die nicht in eurem Verein oder Verband sind?</label>
                     <select ng-model="effort.f9" ng-required="true">
                        <option value="0">Nein, wir haben die Aktion nur aus unserem Verein heraus organisiert.</option>
                        <option value="3">Wir haben uns mit Menschen aus einem anderen Verband/Verein zusammengetan um die Aktion zu organisieren.</option>
                        <option value="3">Wir haben mit Menschen zusammengearbeitet, die nicht in einem Verein, einer Initiative o.ä. organisiert sind.</option>
                        <option value="3">Wir konnten lokale Geschäfte, Schulen (…) davon überzeugen, mit uns gemeinsam diese Aktion durchzuführen.</option>
                     </select>
                  </md-input-container>
                  <md-input-container flex="100">
                     <label class="md-no-float">Habt ihr etwas entwickelt, das für Bildungsarbeit einsetzbar ist (z.B. Infos, Methoden, Objekte)?</label>
                     <select ng-model="effort.f10" ng-required="true">
                        <option value="0">Nein, wir haben nichts entwickelt.</option>
                        <option value="2">Ja, wir haben etwas entwickelt, was in unserer Gruppe/unserem Verband verwendet werden kann.</option>
                        <option value="3">Ja, wir haben etwas entwickelt, was auch von anderen weiter verwendet werden kann.</option>
                     </select>
                  </md-input-container>
               </md-content>
            </div>
            <div class="form-page" ng-show="page==5">
               <h2 class="md-title">Aufwand</h2>
               <md-content layout-padding layout-wrap layout="row">
                  <md-input-container flex="100" ng-if="events[getEventId(formal.event)].question">
                     <label class="md-no-float" ng-bind-html="events[getEventId(formal.event)].question | to_trusted"></label>
                     <input ng-model="custom.f11" type="number" ng-required="true">
                     <legend ng-if="events[getEventId(formal.event)].placeholder" ng-bind-html="events[getEventId(formal.event)].placeholder | to_trusted"></legend>
                  </md-input-container>

                  <md-input-container flex="100">
                     <label class="md-no-float">Hat sich Euer Verband schonmal für den Klimaschutz engagiert?</label>
                     <select ng-model="custom.repeat">
                        <option value="1">Ja, mein Verband hat sich schon einmal für Klimaschutz eingesetzt.</option>
                        <option value="2">Nein, der Verband hat sich bis jetzt nicht für Klimaschutz engagiert.</option>
                        <option value="3">Ich bin mir nicht sicher.</option>
                     </select>
                  </md-input-container>
                  <md-input-container flex="100">
                     <label class="md-no-float">Bitte lade noch ein Bild von eurer Aktion hoch!</label>
                     <select ng-model="formal.imageUpload" ng-required="true">
                        <option value="upload">Bild jetzt hochladen</option>
                        <option value="later">Bild nachreichen</option>
                     </select>
                  </md-input-container>
                  <div ng-show="formal.imageUpload == 'upload'">

                     <md-button ng-click="pickImage()">
                        <ng-md-icon style="fill: #222e34" icon="file_upload"></ng-md-icon> Bild hochladen
                     </md-button>

                  </div>
                  <div ng-if="formal.imageUpload == 'later'">
                     Ein Foto der Aktion ist Voraussetzung zum Punktesammeln. Bitte sende daher baldmöglichst eine E-Mail mit einem Bild von eurer Aktion an <a href="mailto:anna-maria@janun.de">anna-maria@janun.de</a>!
                  </div>
                  <div ng-if="formal.imageUpload == 'upload'">
                     <md-input-container flex>
                        <md-checkbox ng-model="formal.confirmUpload">Mit dem Hochladen des Bildes stimme ich zu, dass JANUN dieses im Rahmen seiner (nicht-kommerziellen) Öffentlichkeitsarbeit verwenden darf (z.B. um die Klima-Challenge bekannter zu machen).</md-checkbox>
                     </md-input-container>
                  </div>
               </md-content>
            </div>
            <div class="form-page" ng-if="page==6">
               <h2 class="md-title">Auswertung</h2>
               <md-content layout-padding layout-wrap layout="row">
                  <div flex>
                     Eure Aktion bewerten wir voraussichtlich mit:

                     <div class="giant-font">
                        {{getClimatePoints()}}
                        <legend>Klima-Punkte</legend>
                     </div>

                     Das entspricht etwa <b>{{getCo2()}} kg</b> eingesparten CO<sub>2</sub>.
                  </div>
            </div>
            <div class="form-page" ng-if="page==7">
               <h2 class="md-title">Erfolgreich eingereicht</h2>
               <md-content layout-padding layout-wrap layout="row">
                  <div flex>
                     Vielen Dank, dass ihr euch für den Klimaschutz engagiert und dazu beitragt, unser gemeinsames Punkteziel zu erreichen! :-)<br>
                     Wir prüfen deine Angaben und veröffentlichen die Aktion so schnell es geht auf dieser Seite.
                  </div>
               </md-content>
            </div>
         </form>
         <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-disabled="page==1" ng-click="previousPage()">
               <ng-md-icon style="fill: #222e34" icon="chevron_left"></ng-md-icon> Zurück
            </md-button>
            <md-button ng-disabled="!isValid(page)" style="margin-right:20px;" md-autofocus ng-click="nextPage()" ng-if="page<6">
               <span>
                  Weiter <ng-md-icon style="fill: #222e34" icon="chevron_right"></ng-md-icon>
                  <md-tooltip ng-if="!isValid(page)" md-direction="left">
                     Es müssen alle Pflichtfelder korrekt ausgefüllt werden!
                  </md-tooltip>
               </span>
            </md-button>
            <md-button ng-if="page==6 && !submitting" class="md-raised md-accent" style="margin-right:20px;" ng-click="submitForm()">
               Aktion einreichen
            </md-button>
            <md-progress-circular ng-if="submitting" md-mode="indeterminate"></md-progress-circular>
         </div>
      </md-whiteframe>
   </div>
</section>

<all-actions></all-actions>
