<section class="space-box box-blue" ng-controller="challengeCtrl">
	<div layout="row" layout-align="center center" layout-wrap>
		<div flex-sm="100" flex-md="95" flex-gt-md="50">
			<h2>Einladung zur Schnippeldisco</h2>
			<h3 class="heading-extension"">mit Umweltminister Wenzel</h3>
			<p>
				Wow! Wir haben es gemeinsam geschafft, über <b>200.000 Klimapunkte</b> zu sammeln und so das zweite Etappenziel bei der Klima-Challenge erreicht. Danke an alle Jugendverbände, die engagiert, kreativ und vielseitig mitgeholfen haben! Weiter so!
			</p>
			<p>
				Der niedersächsische Umweltminister Stefan Wenzel löst nun seinen zweiten Einsatz ein und veranstaltet mit uns eine Schnippeldisco - er schnippelt natürlich mit!
			</p>
			<h3>Worum geht es?</h3>
			<p>
				Schnippeln mit Musik und Spaß! Die <b>kulinarische Protestaktion</b> richtet sich gegen die Verschwendung noch essbarer Lebensmittel, welche in großen Mengen weggeschmissen werden, weil sie optisch nicht „perfekt“ sind (z.B. knubbelige Kartoffeln
				oder verwachsene Karotten). Gemeinsam mit Minister Wenzel werden wir aus solchen vermeintlichen Resten ein leckeres Gericht zaubern, das wir anschließend zusammen genießen.
			</p>
			<p>
				Außerdem habt ihr die Chance, den Umweltminister mit euren Fragen zur Umweltpolitik zu löchern und ihm eure Ideen und Anliegen mitzugeben! Wenn ihr dabei sein wollt, dann meldet euch schnell formlos bis 15.9.16 bei <a href="mailto:anna-maria@janun.de">anna-maria@janun.de</a> an.
			</p>
			<p>
				Wir freuen uns auf eine genüssliche Zeit mit euch!
			</p>
		</div>
		<div flex-sm="100" flex-md="50" flex-lg="40" flex-gt-lg="35" flex-offset-gt-md="5">
			<md-whiteframe class="md-whiteframe-z2 card small-frame rotate-right">
				<img class="card-image" ng-src="/img/aktionstage/schnippeldisko.png" alt="Klima-Aktionstage" />
				<div class="image-caption">
					...mit Umweltminister Wenzel
				</div>
			</md-whiteframe>
			<p style="text-align: center; margin-top: 30px;">
				<a class="md-button md-raised" href="pdf/schnippeldisco.pdf" target="_blank">Zur Einladung</a>
			</p>
		</div>
	</div>
</section>
<section class="space-box box-blue" style="padding-bottom: 0; padding-top: 0" ng-controller="challengeCtrl">
	<div layout="row" layout-align="center center" layout-sm="column" layout-md="column" layout-wrap>
		<div flex flex-gt-md="45">
			<md-whiteframe class="md-whiteframe-z2 card">
				<md-button style="float: right" href="https://www.facebook.com/events/1674640799476257/" target="_blank">
					<ng-md-icon style="fill: #0288d1" icon="facebook"></ng-md-icon>
				</md-button>
				<h2>DIE FAKTEN zur Schnippeldisco</h2>
				<table class="info-table">
					<tr>
						<td>
							<b>Wann:</b>
						</td>
						<td>
							Mittwoch, 28.9.16 ab 16:30 Uhr
						</td>
					</tr>
					<tr>
						<td>
							<b>Ort:</b>
						</td>
						<td>
							Ev. Stadtjugenddienst Braunschweig, Goslarsche Straße 31
						</td>
					</tr>
					<tr>
						<td>
							<b>Kosten:</b>
						</td>
						<td>
							Ihr schnippelt mit, wir laden euch zum Essen ein! Guten Appetit!
						</td>
					</tr>
					<tr>
						<td>
							<b>Partner*innen:</b>
						</td>
						<td>
							Die <a href="http://www.klugbeisser.de/" target="_blank">klugbeisser</a> sorgen dafür, dass das Ergebnis des Schnippelns lecker schmeckt! Der <a href="http://natuerlich-gemuese.de/" target="_blank">Hof Bernard</a> stellt uns regionales "Ausschuss"-Gemüse
							zur Verfügung.
						</td>
					</tr>
				</table>
			</md-whiteframe>
		</div>
	</div>
</section>