<section class="space-box project-progress" ng-controller="challengeCtrl">
   <div layout="row" layout-align="start center" layout-sm="column">
      <div style="width: 100%;" flex-gt-sm="65" flex-offset-gt-md="5">
         <h2>Ziele</h2>
         <div class="progress-legend">
            <div style="margin-left: 7.5%;" class="goal" ng-click="selectedGoal=0">
               <b>1</b><br>
               <p class="goal-points">30.000</p>
            </div>
            <div style="margin-left: 50%;" class="goal" ng-click="selectedGoal=1">
               <b>2</b><br>
               <p class="goal-points">200.000</p>
            </div>
            <div style="margin-left: 75%;" class="goal" ng-click="selectedGoal=2">
               <b>3</b><br>
               <p class="goal-points">?</p>
            </div>
         </div>
         <md-progress-linear class="project-bar md-accent" md-mode="buffer" value="{{ goalPercentage/2 }}"></md-progress-linear>
         <p class="inline-points"><span count-to="{{ climatePointsTotal }}" value="0" duration="1"></span> Klimapunkte</p>
      </div>
      <div flex flex-offset-gt-sm="5" style="width: 100%">
         <md-tabs md-center-tabs="false" class="md-accent md-whiteframe-z3" md-selected="selectedGoal">
            <md-tab label="1">
              <md-content class="md-padding side-tab">
                 <h3>Erstes Etappenziel: <b>30.000 Klimapunkte</b></h3>
                 <p>Das entspricht ca. einer Einsparung von 4,5 t CO2-Äquivalenten oder der Klimaleistung von 1.300 Bäumen. Wenn wir dieses Ziel erreichen, lädt der Umweltminister alle Teilnehmer*innen zu einem <i>Fahrradkino</i> ein, für das er den Strom live mit erstrampelt. Den Film dürft ihr wählen!</p>
              </md-content>
            </md-tab>
            <md-tab label="2">
              <md-content class="md-padding side-tab">
                 <h3>Zweites Etappenziel: <b>200.000 Klimapunkte</b></h3>
                  <p>Ihr könnt mitentscheiden, was der Umweltminister dafür als Einsatz bringen soll!</p>
              </md-content>
            </md-tab>
            <md-tab label="3">
              <md-content class="md-padding side-tab">
                 <h3>Das Endziel stecken wir uns, sobald wir das zweite Ziel erreicht haben!</h3>
                  <p>Ihr könnt mitentscheiden, was der Umweltminister als Gegenleistung erbringen soll.</p>
              </md-content>
            </md-tab>
         </md-tabs>
      </div>
   </div>
</section>

<all-actions></all-actions>
