<section class="space-box project-progress" ng-controller="challengeCtrl">
   <div layout="row" layout-align="start center" layout-sm="column">
      <div style="width: 100%;" flex-gt-sm="65" flex-offset-gt-md="5">
         <h2>Ziele</h2>
         <div class="progress-legend">
            <div style="margin-left: 7.5%;" class="goal" ng-click="selectedGoal=0">
               <b>1</b><br>
               <p class="goal-points">30.000</p>
            </div>
            <div style="margin-left: 50%;" class="goal" ng-click="selectedGoal=1">
               <b>2</b><br>
               <p class="goal-points">200.000</p>
            </div>
            <div style="margin-left: 75%;" class="goal" ng-click="selectedGoal=2">
               <b>3</b><br>
               <p class="goal-points">?</p>
            </div>
         </div>
         <md-progress-linear class="project-bar md-accent" md-mode="buffer" value="{{ goalPercentage/2 }}"></md-progress-linear>
         <p class="inline-points"><span count-to="{{ climatePointsTotal }}" value="0" duration="1"></span> Klimapunkte</p>
      </div>
      <div flex flex-offset-gt-sm="5" style="width: 100%">
         <md-tabs md-center-tabs="false" class="md-accent md-whiteframe-z3" md-selected="selectedGoal">
            <md-tab label="1">
              <md-content class="md-padding side-tab">
                 <h3>Erstes Etappenziel: <b>30.000 Klimapunkte</b></h3>
                 <p>Das entspricht ca. einer Einsparung von 4,5 t CO2-Äquivalenten oder der Klimaleistung von 1.300 Bäumen. Dieses Ziel haben wir im Februar 2016 erreicht. Als Gegenleistung trat der Umweltminister mit Jugendlichen Teilnehmer*innen in einem <i>Fahrradkino</i> in die Pedale und erzeugte so den Strom für den Film live mit. </p>
              </md-content>
            </md-tab>
            <md-tab label="2">
              <md-content class="md-padding side-tab">
                 <h3>Zweites Etappenziel: <b>200.000 Klimapunkte</b></h3>
                  <p>Damit haben wir ca. 30 Tonnen CO2 eingespart! Mit dieser Meng an treibhausgasen könnte man fast 7mal mit dem Zug um die Welt fahren! Als zweiten Einsatz nahm der Umweltminister dafür an einer Schnippeldisco teil - als kulinarische Protestaktion gegen Lebensmittelverschwendung. Er schnippelte natürlich mit, um die vor der Mülltonne geretteten Lebensmittel in ein leckeres Gericht zu verwandeln!</p>
              </md-content>
            </md-tab>
            <md-tab label="3">
              <md-content class="md-padding side-tab">
                 <h3>Das Endziel: 400.000 Klimapunkte!</h3>
                  <p>Als Gegenleistung muss der Umweltminister diesmal an einem Poetry Slam teilnehmen und einen wortgewaltigen Text fürs Klima vortragen. Punktet mit, damit es soweit kommt!</p>
              </md-content>
            </md-tab>
         </md-tabs>
      </div>
   </div>
</section>

<all-actions></all-actions>
