// out: style.css, compress: true

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

/* Colors */
@green: #8bc34a;
@blue: #0288d1;
@dark-font: #222e34;
@light-grey: #607d8b;
@dark-grey: #455a64;

html, body {
   height: auto;
   background-color: #fafafa;
   position: relative;
   font-family: 'Roboto', sans-serif;
}

h2 {
   font-family: 'Roboto', sans-serif;
}

.social-bar {
   right: 0;
   margin-right: 15px;
   margin-top: -48px;
   z-index: 200;
   position: absolute;
}

header {
   text-align: center;
   margin-top: 20px;

   img {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 28px;
   }

   .counter {
      color: @dark-font;
      font-size: 1em;
      padding: 70px 0;

      h2 {
         color: @dark-font;
         font-size: 3.5em;
         margin-bottom: -5px;
      }

      md-progress-circular {
         transform: scale(4) !important;
         margin-left: 45px;

         .md-gap, .md-half-circle {
            border-width: 1px !important;
         }
      }

      legend {
         margin-left: -90px;
         width: 130px;
      }
   }
}

.counter-legend {
   text-align: right;
   padding-right: 2px;
   border-right: 1px solid @dark-grey;
   margin-right: 1px;
}

.counter-bar {
   background-color: @dark-grey;

   .counter-background {
      background: url(../img/count-bar.png);
      background-repeat: repeat-x;
   }

   .counter-filled {
      background-color: @green;
      text-align: right;
      color: white;
   }

   .counter-inner {
      padding: 16px 10px 10px 10px;
   }
}

.info-box {
   background-color: @light-grey;
}

.project-progress {
   background-color: @green;
   color: white;

   .inline-points {
      opacity: 0.6;
      text-align: center;
      font-size: 1.5em;
      margin-bottom: 10px;
   }

   .progress-legend {
      margin-bottom: 39px;
      position: relative;
      z-index: 199;

      .goal {
         padding-left: 4px;
         border-left: 1px solid white;
         position: absolute;
         margin-left: -2px;
         cursor: pointer;

         .goal-points {
            margin-bottom: 0;
         }
      }
   }

   .project-bar {
      margin-bottom: 60px;
   }

   .side-tab {
      background-color: white;
      color: @dark-font;
      padding: 0 20px;
      font-size: .8em;
   }
}

.info-cards {
   padding: 48px 0;
   @media (min-width: 600px) {
      margin-right: -80px;
   }
   z-index: 50;
}

.news-box {
   min-height: 400px;
   background-position: center;
   background-size: cover;
   position: relative;
   background-image: url(https://scontent-fra3-1.xx.fbcdn.net/hphotos-xfp1/t31.0-8/1911031_10152909046213951_4560039218640562970_o.jpg);

   .news-wrapper {
      position: absolute;
      padding: 12px;
      padding-bottom: 15px;
      background-color: rgba(69, 90, 100, 0.71);
      color: white;
      bottom: 0;

      @media (min-width: 600px) {
         padding-left: 80px;
      }

      h2 {
         font-size: 2em;
      }
   }

   .md-button {
      bottom: 10px;
      right: 8px;
      position: absolute;
   }
}

md-content {
   background-color: transparent;
   margin: 15px 0 !important;
   z-index: 200;

   md-whiteframe {
      padding: 18px !important;
      background-color: white;
      color: @dark-grey;
      border-radius: 2px;

      h2 {
         margin: 0;
         color: @green;
      }
   }

   .action-card {
      padding-bottom: 0 !important;
   }
}

#physics-world {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 5;
}

.nav {
   min-height: 0 !important;
   border-radius: 0;
   z-index: 190;

   md-tabs-wrapper {
      background-color: @blue !important;
   }

   md-tabs-canvas {
      box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .14), 0 6px 10px 0 rgba(0, 0, 0, .098), 0 1px 18px 0 rgba(0, 0, 0, .084);
      z-index: 20;
   }
}

.space-box {
   padding: 20px 0 40px 0;
   font-size: 1.25em;

   h2 {
      font-size: 3em;
      font-weight: 300;
      color: white;
      margin: 0;
      margin-bottom: 10px;
   }
}

.add-project {
   background-color: @dark-grey;
   color: #b3cbd8;
}

.ball-box {
   height: 600px;
   background-color: @blue;
   color: rgba(255, 255, 255, 0.6);
}

.md-button, md-tabs {
   z-index: 200;
   min-width: 0;
}

.md-button.md-fab {
   line-height: 36px;
   color: white;
}

button.md-raised.md-button.md-default-theme {
   background-color: @blue;
   color: white;

   &:hover {
      background-color: @blue;
   }
}

button.md-raised.md-button.md-default-theme.md-button.md-primary {
   color: white !important;
   background-color: @green;
}

md-tabs-wrapper md-prev-button md-icon, md-tabs-wrapper md-next-button md-icon {
   color: white;
}

@media (min-width: 960px) {
   .nav md-pagination-wrapper {
      margin: 0 7%;
   }

   .social-bar {
      margin-right: 7%;
   }
}
