// out: style.css, compress: true

html, body, md-tabs, md-tab-content {
   height: 100%;
}

md-tabs-wrapper {
   background-color: #2d71c1 !important;
}

md-tabs-canvas {
   box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .14), 0 6px 10px 0 rgba(0, 0, 0, .098), 0 1px 18px 0 rgba(0, 0, 0, .084);
   z-index: 20;
}

md-tab-content {
   position: relative;

   .physics-background {
      background-color: #2d71c1;
      color: white;
      font-family: Orator Std;
      padding-top: 50px;

      h2 {
         margin-bottom: 10px;
         margin-top: 30px;
         color: #c6ecb8;
      }

      div {
         height: 100%;
      }
   }


   .physics-background, .ng-scope, #physics-world {
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 10;
   }
}

#logo {
   background-image: url(../img/logo.png);
   background-size: contain;
   background-repeat: no-repeat;
   max-width: 575px;
}

.md-button.md-fab {
   line-height: 36px;
}

@media (min-width: 960px) {

   md-pagination-wrapper {
      margin: 0 15%;
   }
}
